.loaderContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}

.loaderLogo {
  width: 120px;
  height: auto;
  animation: fade 1.2s infinite ease-in-out;
}

@keyframes fade {
  0% { opacity: 0.3; }
  50% { opacity: 1; }
  100% { opacity: 0.3; }
}
